---
import Layout from '@/layouts/Layout.astro'

import Header from '@/components/Header.astro'

import Ribbon from '@/components/Ribbon'
---

<Layout>
  <main>
    <Header />
    <Ribbon client:only />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }
</style>
